<div [hidden]="this._globalService.initialNavBar">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <div class="icon">
        <a href="#" class="brand-logo">
           <img src="assets/image/camera.png" width="40" height="30" alt="">
           SPN Album
         </a>
      </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a [routerLink]="['login']">Log In</a></li>
        <li routerLinkActive="active"><a [routerLink]="['signup']">Sign Up</a></li>
        <li routerLinkActive="active"><a [routerLink]="['about']"><i class="material-icons">help</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div [hidden]="!this._globalService.initialNavBar">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <div class="icon">
        <a href="#" class="brand-logo">
               <img src="assets/image/camera.png" width="40" height="30" alt="">
               SPN Album
             </a>
      </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <form>
            <div class="row center-align">
              <div class="input-field">
                <input name="username" id="username" type="text" class="validate">
                <label for="username">User to search</label>
              </div>
            </div>
          </form>
        </li>
        <li><a class="waves-effect waves-light btn"><i class="material-icons">search</i></a></li>
        <li routerLinkActive="active"><a [routerLink]="['login']">Log Out</a></li>
        <li routerLinkActive="active"><a [routerLink]="['about']"><i class="material-icons">help</i></a></li>
      </ul>
    </div>
  </nav>
</div>