<div class="main-container">
  <div class="row">
    <!-- Iteramos sobre el elemento hasta la cantidad de imagenes disponibles-->
    <div class="col s3 offset-s2">
      <div class="card">
        <div class="card-image">
          <img src="assets/image/about.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          <div class="section center-align">
            <a class="btn-floating waves-effect waves-light red"><i class="material-icons">insert_chart</i></a>
            <a class="btn-floating waves-effect waves-light yellow darken-1"><i class="material-icons">format_quote</i></a>
            <a class="btn-floating waves-effect waves-light green"><i class="material-icons">publish</i></a>
            <a class="btn-floating waves-effect waves-light blue"><i class="material-icons">attach_file</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
