<div class="main-container">
        <div class="row">
          <div class="col s4 offset-s4">
            <div class="card">
              <div class="card-image ">
                <img src="assets/image/about.png" >
                <span class="card-title">About</span>
              </div>
              <div class="card-content">

                <div class="row">
                  <div class="col s4">
                    <div class="section center-align">
                      <b><h5>Member 1</h5></b>
                      <p>Sebastian Pino</p>
                    </div>
                  </div>

                  <div class="col s4">
                    <div class="section center-align">
                      <b><h5>Member 2</h5></b>
                      <p>Pablo Villegas</p>
                    </div>
                  </div>

                  <div class="col s4">
                    <div class="section center-align">
                      <b><h5>Member 3</h5></b>
                      <p>Nicolas Buitrago</p>
                    </div>
                  </div>
                </div>

                <div class="divider"></div>

                <div class="section center-align">
                    <p>This is an application that seeks to explore the different solutions to web security problems such as: User identification, sql injection, html manipulation etc.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
</div>
